**/.idea/**
**/.idea
**/target
/video/*
*/*.iml
*.iml
*.DS_Store

**/.project
.settings/**
**/.classpath
**/.project
**/.settings/**
*/.factorypath

*.log
*.gz
logs/

**/bin/
**/logs/**
**/.apt_generated
/.idea/uiDesigner.xml
